.center-title {text-align: center;}
.body-div {width:800px; margin: auto; overflow-wrap: break-word;}
.background {background-color: #eeeee4}
.headshot {border-radius: 50%; height: auto; width: auto; max-width: 150px; max-height: 150px; display: block; margin-left: auto; margin-right: auto;}
.zoom {
    transition: transform .5s; /* Animation */
    margin: 0 auto;
}
.zoom:hover {
transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* nav bar */
.navbar {
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
.navbar li {
    float: left;
    border-right: 1px solid #eeeee4;
}
/*.navbar-ul li:last-child {
    border-right: none;
}*/
.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #d0d0c6;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #c0c0b6;
}
  
