/*@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background-color: #282a36;
	color: rgb(255, 255, 255);
	font-family: 'Source Code Pro', monospace;
}


#headshot {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.linkz {
	color:#f1fa8c;
	text-decoration: underline;
}

.linkz:hover {
	background-color: #bd93f9;
}

#website-title {
	text-align: center;
	font-size: 50pt;
	color: #bd93f9;
	margin-top: 15px;
	margin: 0px;
	word-spacing: -7px;
}

#descrip {
	padding: 10px;
	text-align: center;
	line-height: 1.4;
	width: 700px;
	margin: 0 auto;
	word-spacing: 1px;
}

/* icons for github, twitter, etc */
#icons {
	margin: 0 auto;
	padding: 1px 0;
	display: flex;
	align-items: flex-end;
	list-style-type: none;
	width: fit-content;
}

#icons li {

	display: flex;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

#icons li i {
	font-size: 30px;
	opacity: 0.8;
}

#icons li i:hover {
	color: #8be9fd;
	cursor: pointer;
}

#experience-title {
	color: #bd93f9;
	margin-bottom: 30px;
}

#publications-title {
	color: #bd93f9;
	margin-bottom: 30px;
}

#personal-projects-title {
	color: #bd93f9;
	margin-bottom: 30px;
}

#blog-posts-title {
	color: #bd93f9;
	margin-bottom: 30px;
}

.gradient-hr {
	border: 0; 
	height: 2px; 
	background: radial-gradient(farthest-side at center top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	background-size: 100% 200%; 
	background-position: center; 
	margin: 30px;
}


@media screen and (max-width: 800px) {

	#image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.icons {
		text-align: center;
		margin: 0 auto;
		padding: 1px 0;
		display: inline-flex;
	}

	#website-title {
		text-align: center;
		font-size: 40pt;
	}


	#descrip {
		width: 100%;
		padding: 10px;
		text-align: center;
	}

	header {
		padding: 25px;
	}
}

h1 {
	text-align: center;
	font-weight: bold;
	margin-top: 0;
	font-size: 26pt;
}

.hexa {
	border: 0px;
	float: left;
	text-align: center;
	height: 35px;
	width: 60px;
	font-size: 22px;
	background: #f0f0f0;
	color: #3c3c3c;
	position: relative;
	margin-top: 15px;
}

.hexa:before {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 15px solid #f0f0f0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	top: -15px;
}

.hexa:after {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 15px solid #f0f0f0;
	bottom: -15px;
}

.timeline {
	position: relative;
	padding: 0;
	width: 100%;
	margin-top: 20px;
	list-style-type: none;
}

.timeline:before {
	position: absolute;
	left: 50%;
	top: 0;
	content: ' ';
	display: block;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
	z-index: 5;
}

.timeline li {
	padding: 2em 0;
}

.timeline .hexa {
	width: 16px;
	height: 10px;
	position: absolute;
	background: #8be9fd;
	z-index: 5;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: -30px;
	margin-top: 0;
}

.timeline .hexa:before {
	border-bottom: 4px solid #8be9fd;
	border-left-width: 8px;
	border-right-width: 8px;
	top: -4px;
}

.timeline .hexa:after {
	border-left-width: 8px;
	border-right-width: 8px;
	border-top: 4px solid #8be9fd;
	bottom: -4px;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;
	text-align: center;
}

.flag {
	position: relative;
	display: inline;
	background: rgb(255, 255, 255);
	color: #333333;
	font-weight: 600;
	z-index: 15;
	padding: 6px 10px;
	text-align: left;
	border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -15px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255, 255, 255);
	border-width: 8px;
	pointer-events: none;
}

.time {
	background: #6272a4;
	display: inline-block;
	padding: 8px;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
	z-index: 15;
	background-color: #282a36;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	z-index: 15;
}

@media(min-width: 768px) {
	.timeline {
		width: 660px;
		margin: 0 auto;
		margin-top: 20px;
	}

	.timeline li:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.timeline .hexa {
		left: -28px;
		right: auto;
		top: 8px;
	}

	.timeline .direction-l .hexa {
		left: auto;
		right: -28px;
	}

	.direction-l {
		position: relative;
		width: 310px;
		float: left;
		text-align: right;
	}

	.direction-r {
		position: relative;
		width: 310px;
		float: right;
		text-align: left;
	}

	.flag-wrapper {
		display: inline-block;
	}

	.flag {
		font-size: 18px;
	}

	.direction-l .flag:after {
		left: auto;
		right: -16px;
		top: 50%;
		margin-top: -8px;
		border: solid transparent;
		border-left-color: rgb(254, 254, 254);
		border-width: 8px;
	}

	.direction-r .flag:after {
		top: 50%;
		margin-top: -8px;
		border: solid transparent;
		border-right-color: rgb(254, 254, 254);
		border-width: 8px;
		left: -8px;
	}

	.time-wrapper {
		display: inline;
		vertical-align: middle;
		margin: 0;
	}

	.direction-l .time-wrapper {
		float: left;
	}

	.direction-r .time-wrapper {
		float: right;
	}

	.time {
		padding: 5px 10px;
	}

	.direction-r .desc {
		margin: 1em 0 0 0.75em;
	}
}

@media(min-width: 992px) {
	.timeline {
		width: 800px;
		margin: 0 auto;
		margin-top: 20px;
	}

	.direction-l {
		position: relative;
		width: 380px;
		float: left;
		text-align: right;
	}

	.direction-r {
		position: relative;
		width: 380px;
		float: right;
		text-align: left;
	}
}

/*Publications*/
.section-heading {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	color: #bd93f9;
	margin-bottom: 50px;
}

.btn-small {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: #6272a4;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #f8f8f2;
	border-color: none;
	text-decoration: none;
	border-radius: 10%;
}

.btn-small:hover {
	background-color: #bd93f9;
}

.article-metadata {
	margin-top: 2px;
	font-size: 0.9rem;
	padding: 10px;
	color: #6272a4;
}

.title-of-article {
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}

.article {
	padding-bottom: 30px;
}

#articles {
	width: 700px;
	margin: 0 auto;
}